<h2> <%= @post.title %> </h2><br>
<p> <%= @post.content %> </p><br>
<ul><% @post.categories.each do |c| %>
  <li> <%= c.name %> </li><br>
  <% end %>
</ul><br>

<ul><% @post.comments.each do |co| %>
  <li> <%= co.content %> </li><br>
  <% end %>
</ul><br>

<ul><% @post.users.uniq!.each do |u| %>
  <li> <a href="/users/<%= u.id %>"> <%= u.username %></a> </li><br>
  <% end %>
</ul><br>
